extends layout

block content
    div
        img(class="col-sm-12" src="/images/DIY2.jpg")
    div(align='right' class="col-sm-12")
        a(class="btn btn-success btn-lg" href="/DIYs3" role="button") Next

