extends layout

block content
    div(class="jumbotron container" style="background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106397/kbbn6c8xv6vshiuzkff7gz4t38b9lm42hbbbz66awuav5lonsvlciqfgixucmzbw-o.jpg?1399222055); background-size: cover;")
        div(class="container" align="center")
            h1 DIY Recipe
                p Make your own recipe and we will cook for you.
                p
                    a(class="btn btn-primary btn-lg" href="#" role="button") Try it now





