extends layout

block content
    div(class="jumbotron" style="background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106397/kbbn6c8xv6vshiuzkff7gz4t38b9lm42hbbbz66awuav5lonsvlciqfgixucmzbw-o.jpg?1399222055); background-size: cover;")
        div(class="container" align="center")
            h1 DIY Recipe
                p Make your own recipe and we will cook for you.
                p
                    a(class="btn btn-success btn-lg" href="/DIYs1" role="button") Start
    div(class="panel panel-success")
        div(class="panel-heading")
            h3(class="panel-title") Others Secret Recipe
        div(class="panel-body")
            div(class="col-sm-10") Take a look and try the most popular customize recipes.
                p
                button(type="button" class="btn btn-success" href="/popular") Suprise me
    div(class="panel panel-warning")
        div(class="panel-heading")
            h3(class="panel-title") New Menu
        div(class="panel-body")
            div(class="col-sm-10") We updated our menu.
                p
                button(type="button" class="btn btn-warning" href="/menu") Take a look
    div(class="panel panel-primary")
        div(class="panel-heading")
            h3(class="panel-title") DIY Recipe
        div(class="panel-body")
            div(class="col-sm-10") Make your own recipe and we will cook for you.
                p
                button(type="button" class="btn btn-primary" href="/DIYs1") Have a try


