extends layout

block content
    div(class="jumbotron")
        div(class="container")
            h1 DIY Recipe
                p Make your own recipe and we will cook for you.
                p
                    a(class="btn btn-primary btn-lg" href="#" role="button") Try it now
    div(class="panel panel-success")
        div(class="panel-heading")
            h3(class="panel-title") Others Secret Recipe
        div(class="panel-body")
            div(class="col-sm-10") Take a look and try the most popular customize recipes.
                p
                button(type="button" class="btn btn-success") Suprise me
    div(class="panel panel-warning")
        div(class="panel-heading")
            h3(class="panel-title") New Menu
        div(class="panel-body")
            div(class="col-sm-10") We updated our menu.
                p
                button(type="button" class="btn btn-warning") Take a look
    div(class="panel panel-primary")
        div(class="panel-heading")
            h3(class="panel-title") DIY Recipe
        div(class="panel-body")
            div(class="col-sm-10") Make your own recipe and we will cook for you.
                p
                button(type="button" class="btn btn-primary") Have a try


