extends layout

block content
    div(class="jumbotron" style="background-image: url(http://www.blogcdn.com/slideshows/images/slides/278/292/6/S2782926/slug/l/cooking-and-food-concept-1.jpg); background-size: cover;")
        div(class="container" align="left")
            h1 New Menu
                p Check the new items and make an order
                br
                p
                    h3
                        label(align="left" class="col-sm-4 control-label") Pork Ramen
                        input(align="left" type="checkbox" class="col-sm-1" name="salty" id="saltyy")
                        br
                        p
                        label(align="left" class="col-sm-4 control-label") Beaf Udon
                        input(align="left" type="checkbox" class="col-sm-1" name="salty" id="saltyn")
                br
                br
                br
                p
                    a(align="left" class="col-md-offset-3 btn btn-success btn-lg" href="#" role="button") Oder

