extends layout

block content
  h1= title
  table
    tr
      td
        img(class="img-comic" src="images/bioc1.jpg")
      td
        img(class="img-comic" src="images/bioc2.jpg")
    tr
      td
        img(class="img-comic" src="images/bioc3.jpg")
      td
        img(class="img-comic" src="images/bioc4.jpg")